<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Word Dictionary</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container" style="margin-bottom: 60px">
      <h1
        class="mt-5"
        style="
          margin-top: 40px;
          color: white;
          text-align: center;
          padding: 10px;
        "
      >
        Word Dictionary
      </h1>
      <form method="POST" class="mt-3">
        <div class="form-group">
          <input
            type="text"
            name="word"
            class="form-control"
            placeholder="Search a word"
            required
          />
        </div>
        <button type="submit" class="btn btn-dark" style="margin-top: 10px">
          Search
        </button>
      </form>
      {% if error %}
      <div class="alert alert-danger mt-3">{{ error }}</div>
      {% endif %} {% if meanings %}
      <div class="mt-3">
        <h2 style="color: white; font-size: 26px">
          Meanings for "{{ meanings[0]['word'] }}"
        </h2>
        {% for meaning in meanings[0]['meanings'] %}
        <div class="card mt-3">
          <div class="card-body" style="background-color: #c9d6ff">
            <h5 class="card-title" style="text-transform: capitalize">
              {{ meaning['partOfSpeech'] }}
            </h5>
            <ul>
              {% for definition in meaning['definitions'] %}
              <li>{{ definition['definition'] }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </body>
</html>
