{% extends "base.html" %} {% block content %}
<h4 style="color: white; font-family: calibri; font-size: 28px">
  Search Images
</h4>

<form method="GET" class="d-flex mb-4">
  <input
    class="form-control"
    name="query"
    placeholder="Search images"
    required
  />
  &nbsp;&nbsp;
  <button class="btn btn-primary">Search</button>
</form>

{% if no_results and query %}
<div class="alert alert-warning mt-4">
  <h5>🔍 No images found for "{{query}}"</h5>
</div>

<p style="color: white; font-size: 18px">Try searching for:</p>
<a href="/?query=nature" class="btn btn-sm btn-outline-light m-1">Nature</a>
<a href="/?query=city" class="btn btn-sm btn-outline-light m-1">City</a>
<a href="/?query=cars" class="btn btn-sm btn-outline-light m-1">Cars</a>
<a href="/?query=animals" class="btn btn-sm btn-outline-light m-1">Animals</a>

{% elif query %}
<h5 style="color: white">Search results for "{{query}}"</h5>
{% endif %}

<div class="gallery-masonry" id="gallery">
  {% for img in images %}
  <div class="gallery-item">
    <img data-src="{{img}}" class="lazy-img" />
    <div class="gallery-overlay">
      <a href="{{img}}" download class="btn btn-dark btn-sm">
        <i class="bi bi-download"></i>
      </a>
      {% if current_user.is_authenticated %}
      <a class="btn btn-success btn-sm" href="/save?url={{img}}"> Save </a>
      {% else %}
      <a class="btn btn-warning btn-sm" href="/login"> Login </a>
      {% endif %}
    </div>
  </div>

  {% endfor %}
</div>
<br />
<!-- ⭐ PAGINATION -->
{% if images %}
<div class="text-center mt-4">
  {% if page > 1 %}
  <a
    class="btn btn-outline-light me-2"
    href="/?query={{query or ''}}&page={{page-1}}"
  >
    ⬅ Previous
  </a>
  {% endif %}

  <span class="text-light fw-bold mx-2"> Page {{page}} </span>

  {% if images|length == 15 %}
  <a
    class="btn btn-outline-light ms-2"
    href="/?query={{query or ''}}&page={{page+1}}"
  >
    Next ➡
  </a>
  {% endif %}
</div>
{% endif %}

<br /><br />

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const lazyImages = document.querySelectorAll(".lazy-img");
    const observer = new IntersectionObserver((entries, obs) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const img = entry.target;
          img.src = img.dataset.src;
          obs.unobserve(img);
        }
      });
    });
    lazyImages.forEach((img) => observer.observe(img));
  });
</script>
{% endblock %}
